body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 1140px;
    @include mAuto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}