.menu{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    @include mAuto;
    .shield-container{
        span{
            font-size: 100px;
        }
    }
    .alarm-container{
        img{
            width: 100px;
            opacity: .4;
        }
    }

}