.control-panel{
    margin-top: 50px;
    .status{
        font-size: 30px;
        text-align: center;
    }
    .flex-container{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        @include mAuto;
    }
    .shield-container{
        span{
            font-size: 100px;
            &.danger::before{
                color: $regularBlue;
            }
        }
    }
    .alarm-container{
        img{
            width: 100px;
            opacity: .4;
            &.opacity-1{
                opacity: 1;
            }
        }
    }
    .intruder{
        margin-top: 50px;
        text-align: center;
        .btn-custom{
            &.active{
                background-color: $danger;
            }
        }
    }
}